
build/

.venv/
.hypothesis/
.mypy_cache/
.pytest_cache/
.benchmarks/

callgrind.out.*

__pycache__

tmp-compiler.py
tmp-compiler2.py
tmp-compiler3.py
tmp-compiler4.c
tmp-compiler5.c
tmp-compiler6.py

compiler4
compiler5
